<script type="text/javascript">
  mixpanel.track("View Landing");
</script>

<div class="landing">
  <div class="headline">Welcome to Instashow!</div>
  <br />
  <div class="tagline">Create your very own slideshow from you Instagram photos by clicking below.</div>
  <br />
  <br />
  <a href="/auth/instagram">
    <img src="/images/instagram-button.png" />
  </a>
</div>