<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <meta name="description" content="Description" />
    <link href="/stylesheets/style.css" rel='stylesheet' type="text/css" />
    <script src="/javascripts/jquery-1.8.1.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>