<div class="text-left">
  <div class="headline">Terms of Service</div>
  <br />

  By using the instashow.me website you are agreeing to be bound by the following terms and conditions ("Terms of Use").
  <br /><br />
  You must be 13 years or older to use this site.
  You are responsible for any activity that occurs under your identity.
  You must not abuse, harass, threaten, impersonate or intimidate other Instashow.me users.
  You may not use the instashow.me service for any illegal or unauthorized purpose. International users agree to comply with all local laws regarding online conduct and acceptable content.
  You are solely responsible for your conduct and any data, text, information, screen names, graphics, photos, profiles, links ("Content") that you submit, post, display, and allow to be shared on the instashow.me service.
  You must not modify, adapt or hack instashow.me or modify another website so as to falsely imply that it is associated with instashow.me.
  You must not create or submit unwanted email to any Instashow.me members ("Spam").
  You must not transmit any worms or viruses or any code of a destructive nature.
  You must not, in the use of Instashow.me, violate any laws in your jurisdiction (including but not limited to copyright laws).
  <br /><br />
  Violation of any of these agreements will result in the termination of your instashow.me account. While instashow.me prohibits such conduct and content on its site, you understand and agree that Instashow.me cannot be responsible for the content posted on its web site and you nonetheless may be exposed to such materials and that you use the instashow.me service at your own risk.
  <br /><br />
  The following general conditions apply to the instashow.me website:
  <br /><br />
  We reserve the right to modify or terminate the instashow.me service for any reason, without notice at any time.
  We reserve the right to alter these Terms of Use at any time. If the alterations constitute a material change to the Terms of Use, we will notify you via internet mail according to the preference expressed on your account. What constitutes a "material change" will be determined at our sole discretion, in good faith and using common sense and reasonable judgement.
  We reserve the right to refuse service to anyone for any reason at any time.
  We may, but have no obligation to, remove Content and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Use.
  We reserve the right to reclaim usernames on behalf of businesses or individuals that hold legal claim or trademark on those usernames.
</div>