body {
  background-color: #1e1e1e;
  font-family: "Myriad Pro Condensed", "Gill Sans", "Lucida Grande", Helvetica, sans-serif;
  color: #fffcf1;
}

.clear { clear: both; }
.left { float: left; }
.right { float: right; }